<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Vuejs</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p>Tareas completadas: <strong>{{taskCompleted.length}}</strong></p>
				</div>
				<div class="col-12">
					<ul>
						<li v-for="task in allTask" @click="markCompletedTask(task)"
							:class="{ completed: task.status }">
							{{ task.task }}
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4">
					<form class="formulario" @submit.prevent="testStatusPassword(password)">
						<span class="span" :class="{success:isSuccess,error:isError}">Cambio XD</span>
						<input type="password" name="pass" id="pass" placeholder="Ingrese su contraseña" class="form-control mb-2" v-model="password">
						<button class="btn btn-success">Log In</button> 
					</form>
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row mt-5">
				<pre>
					{{$data}}
				</pre>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script.js"></script>
</body>

</html>